<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style/index.css">
        <title>Page d'accueil</title>
    </head>
    <body> 
        <h1 class="Titre"> Bienvenue!</h1>
        <h2 class="Pseudoentrer"> Veuillez entrer un Pseudo</h2>
        <div>
        <form action="/" method="post">   
        <label for ="name">Peudo:</label>
        <input type = "text" id="name" name="name" required>
        </form> 
        </div>
        <button type="submit">Entrer</button>
    </body>
</html>