<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/regle.css">
    <title>Règles du jeu</title>
</head>
<body>
    <header>
        <h1 class="Titre">Les règles du jeu</h1>
    </header>
    
    <main>
        <section>
            <p><strong>Votre objectif :</strong> deviner le mot incomplet.</p>
            
            <p>
                <strong>Comment jouer :</strong> 
                Entrez des lettres au hasard pour obtenir des indices. 
                Une fois que vous avez suffisamment d'indices, vous pouvez essayer de deviner le mot en entier. 
                Attention, si vous vous trompez, vous perdez 3 vies.
            </p>
            
            <p>
                <strong>Vies :</strong> 
                Vous commencez avec 9 vies. 
                Si vous entrez une lettre qui n'est pas dans le mot, vous perdez une vie.
            </p>
            
            <p>
                <strong>Fin de la partie :</strong> 
                Si vous perdez toutes vos vies, vous serez redirigé vers un écran des scores 
                indiquant si vous avez gagné ou perdu.
            </p>
            
            <p>
                <strong>En cas de victoire :</strong> 
                Votre score sera sauvegardé et affiché sur l'écran des scores avec votre pseudo.
            </p>
        </section>
        <p>Prêt à commencer ?</p>
<form action="/start" method="post">
    <input type="hidden" name="pseudo" value="{{.Pseudo}}">
    <button type="submit">Commencer le jeu</button>
</form>

    </main>
</body>
</html>
