<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style/index.css">
        <title>Régle</title>
    </head>
    <body> 
        <h1 class="Titre"> Les règles du jeu sont très simple :</h1>
        <h2>Votre but est de deviner le mots pour qui est incomplet.</h2>
        <h3>Pour se faire vous allez entrer des lettres au hasard pour avoir un indice sur le mot que vous cherchez.</h3>
        <h4>Si vous entrez une lettre qui n'est pas dans ce mots vous perdez une vie (vous en avez 9).</h4>
        <h5>Quand ces 9 vie sont utilisées voous allez vous retrouvez sur un écran des scores qui montreras si vous avec gagné ou perdu.</h5>
        <h6>En cas de victoires votre scores sera sauvegarder est affiché sur un écran des scores avec votre pseudo et votre score</h6>
    </body>
</html>